/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
  Base styles: opinionated defaults
  ========================================================================== */
* {
  .box-sizing(border-box);
    // -webkit-transform-style: preserve-3d;
    // -webkit-backface-visibility: hidden;
}

html {
    font-size: @font-size;
    line-height: 1.4;
    height:100%;
}

body{
    margin:0;
    padding:0;
    height:100%;
    overflow-x:hidden;

    //Retina Font Size Should Be Double if viewport is user zoomable
    //EMs should be used for sizing
    //   .at-touch-device(){
    //   font-size: @font-size-retina;
    // }
}

/*
* Reset ul,li,ol,li,dl,dt,dd
*/
ul,li,ol,li,dl,dt,dd{
    margin:0;
    padding:0;
    list-style-type:none;
    list-style:none;
}

a {
    vertical-align: middle;
    color: @color-type-grey;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
      //.arial(.8em, book);

    &:visited {
        color:@color-dark-grey;
    }

    &:hover{
        color:@color-orange;
    }
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d0d0d0;
    margin: 1em 10%;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
  Author's custom styles
  ========================================================================== */
.container{
    position:relative;
    left:0;
    width:100%;
    min-height:100%;
    background:@color-white;
}


.wrapper{
    position:relative;
    margin:0 auto;
    max-width:1280px;
}



/* ==========================================================================
  Helper classes
  ========================================================================== */

/*
* Hide visually and from screen readers:
* http://juicystudio.com/article/screen-readers-display-none.php
*/

.truncate{
    overflow:hidden;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*	`contenteditable` attribute is included anywhere else in the document.
*	Otherwise it causes space to appear at the top and bottom of elements
*	that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*	`:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
  EXAMPLE Media Queries for Responsive Design.
  These examples override the primary ('mobile first') styles.
  Modify as content requires.
  ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
  Print styles.
  Inlined to avoid the additional HTTP request:
  http://www.phpied.com/delay-loading-your-print-css/
  ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/****************Colors*****************/
@color-type-grey: #5b5b5b;
@color-line-grey: #c0c0c0;
@color-nav-grey: #f7f7f7;
@color-translucent-type: rgba(255,255,255,0.7);
@color-translucent-opaque-type: rgba(255, 255, 255, .95);
@color-nav-menu: rgba(200 ,200 ,200 ,0.9);
@controls-opacity: .5;
@color-drop-shadow: rgba(0, 0, 0, .3);


@color-pink: #ff7380;
@color-dark-pink:#fa3468;

@color-turquoise:#20c3b0;
@color-blue:#58bbe6;
@color-yellow:#fff04e;
@color-purple:#a864aa;
@color-orange:#ff8233;

@color-light-cream:#fdf3ea;
@color-dark-cream:#f6e8dc;

@color-grey:#cccccc;
@color-dark-grey:#777777;
@color-tertiary-grey:#444444;
@color-dark-grey2:#222222;

@color-black:#000;
@color-white: #fff;

@color-fb-blue:#476ea7;

/************Variable****************/
@font-size: 14px;
@font-size-retina: 28px;

@default-breakpoint: root;
@current-breakpoint: @default-breakpoint;


//MediaQueries
@screen: "only screen";
@max: "max-width";
@min: "min-width";
@small-min: 0;
@small-max: 480px; // ~479px, 34.214em
@medium-min: 481px;
@medium-max: 768px;// ~767px, 54.786em
@large-min: 769px;
@large-max: 1600px; // ~1600px, 114.286em


//Grid
@grid-columns:12;
@grid-gutter-width:20px;

