### NGINX NGRA Pages Exclusions
nginx-repo.crt
nginx-repo.key


### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
### Example user template template

# IntelliJ project files
.idea/workspace.xml
.idea/tasks.xml
.idea/misc.xml
out
gen

/ngra-pages.yml

### Symfony template
# Cache and logs (Symfony2)
/inginious-pages/app/cache/*
/inginious-pages/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Cache and logs (Symfony3)
/inginious-pages/var/cache/*
/inginious-pages/var/logs/*
/inginious-pages/app/logs/dev.log
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/inginious-pages/app/config/parameters.yml
/inginious-pages/app/config/parameters.ini

# Managed by Composer
/inginious-pages/var/bootstrap.php.cache
/inginious-pages/bin/*
!bin/console
!bin/symfony_requirements
/inginious-pages/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar
/composer.lock

#Microservice Best Practice
.env_dev
.env
uiDesigner.xml

#npm-gulp ignore
less-css/node_modules
.idea
orig_nginx-repo.crt
orig_nginx-repo.key
java_pid28412.hprof
.hprof
jmeter.log
nginx
*.pem
.pem
certificate.pem
csr.pem
dhparam.pem
key.pem
