{# app/Resources/views/home.html.twig #}
{% extends 'base.html.twig' %}

    {% block loginButton %}
        <div>
            <img id="login-button" onclick="logout();" src='{{ asset('bundles/inginious/images/logout.png', version='1.0') }}'>
        </div>
    {% endblock %}

  {% block hero %}
      <section class="hero" style="background-image: url('http://www.metadogs.com/images/hero/orchids.jpg');" >
          <div class="wrapper" >
              <h1 class="headline" >inginious photos</h1>
              <h2 class="subhead" >Welcome Chris Stetson</h2>
          </div>
      </section>
  {% endblock %}
  {% block articles %}
  {% endblock %}
  {% block albums %}
      {{ include('catalog.html.twig') }}}
   {% endblock %}
