{# app/Resources/views/home.html.twig #}
{# app/Resources/views/banners.html.twig #}
{% extends 'base.html.twig' %}
    {% block loginButton %}

    {% endblock %}

{% block hero %}
<section id="login" class="login hero-banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="login-content">
                        <h1 class="login-title">OAuth Log In</h1>
                        <a class="fb-login" id="fb_login" href="#"><img src="{{ asset('bundles/ingenious/images/facebook-icon.png') }}"> <span id="ing_fb_login">Log in with Facebook</span></a>
                        <a class="google-login" id="google_login" href="#"><img src="{{ asset('bundles/ingenious/images/google-icon.png') }}"> <span id="ing_gp_login">Log in with Google</span></a>

                        <div id="status">&nbsp;</div>
                        <div style="display: none" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                    </div>
                    <div class="gradient"></div>
                </div>
            </div> <!--./end container-->
        </section>
{% endblock %}
{% block footer %}
{% endblock %}
