{# app/Resources/views/home.html.twig #}
{# app/Resources/views/banners.html.twig #}
{% extends 'base.html.twig' %}
    {% block loginButton %}

    {% endblock %}

{% block hero %}
<section id="login" class="login hero-banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="login-content">
                        <h1 class="login-title">OAuth Log In</h1>
                        <a class="fb-login" id="fb_login" href="#"><img src="{{ asset('bundles/ingenious/images/facebook-icon.png') }}"> <span id="ing_fb_login">Log in with Facebook</span></a>
                        <a class="google-login" id="google_login" href="#"><img src="{{ asset('bundles/ingenious/images/google-icon.png') }}"> <span id="ing_gp_login">Log in with Google</span></a>

                        <div id="status">&nbsp;</div>
                        <div style="display: none" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                        <h1 class="login-title">Ingenious Log In</h1>
                        <div class="login-form">
                            <form id="user-login" method="put" class="form-horizontal" action="">
                                <div class="form-group">
                                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Email</label>
                                    <div class="col-xs-4 login-field">
                                        <input name="email" id="email" type="text" class="form-control" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b" required="required" maxlength="128" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 col-sm-3 col-sm-offset-1 control-label">Password</label>
                                    <div class="col-xs-4 login-field">
                                        <input name="password" id="password" type="password" class="form-control"  required="required" maxlength="128">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 login-submit">
                                        <button id="update-account-button" name="update-account" type="submit" class="btn">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="gradient"></div>
                </div>
            </div> <!--./end container-->
        </section>
{% endblock %}
{% block footer %}
{% endblock %}
